<a href="https://colab.research.google.com/github/InstitutodaVinci3/Vancouver/blob/master/Producao_Diaria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importando as bibliotecas básicas e preparando ambiente
import pandas as pd                     # convenção 
import numpy as np                      # convenção 
import random as rd                     # rd não é alias padrão mas sim adotado aqui somente 
# Itens adicionais
import glob
import os
import re

# Teste 1 - com os TXT

In [ ]:
# ***** Lembrar que é necessário "MONTAR" o seu Google Dive junto ao Jupiter Collab como pré-requisito ****
path =r'/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Prod Diaria txt'
filenames = glob.glob(path + "/*.txt")

In [ ]:
# junção dos arquivos de Produção Diária - arquivos TXT
dfs =[]
for filename in filenames:
  a = pd.read_table(filename, sep='\t', encoding='latin1', engine='python', index_col=0)
  dfs.append(a[:-1])

# Concatenando todos os dados em um único DataFrame
Producao_df = pd.concat(dfs, ignore_index=True)
Producao_df
Producao_df.to_excel("Producao_Diaria.xlsx")

# Teste 2 - com os XLSX

In [ ]:
# Testando com os arquivos XLSX
path =r'/content/drive/MyDrive/Prod Diaria XLS'
filenames = glob.glob(path + "/*.xlsx")

In [ ]:
a = pd.read_excel('/content/drive/MyDrive/Prod Diaria XLS/Produção diária_20170503T172000.xlsx', sheet_name=0,header=0)
a.head()

   Group Number  ...  Yield Yesterday Session 2
0           NaN  ...                        NaN
1           1.0  ...                        NaN
2           1.0  ...                        NaN
3           1.0  ...                        NaN
4           1.0  ...                        NaN

[5 rows x 17 columns]

In [ ]:
# Para extrair da Data do nome do arquivo
dia = re.search(r'_(\d+)', '/content/drive/MyDrive/Prod Diaria XLS/Produção diária_20170503T172000.xlsx')
print(dia[1])

20170503

In [ ]:
# junção dos arquivos de Produção Diária - arquivos XLSX
dfs = []
for filename in filenames:
#  dia = re.search(r'_(\d+)', filename)
  a = pd.read_excel(filename, sheet_name=0, header=0)
#  a.head()
  dfs.append(a)
Producao_df = pd.concat(dfs) # Concatenando todos os dados em um único DataFrame
Producao_df.to_excel("/content/drive/MyDrive/Prod Diaria XLS/Producao_Diaria.xlsx")

#Producao_df = pd.concat(dfs, ignore_index=True)
#  dfs
#  dfs.append(a[:-1])
#Producao_df.to_excel("Producao_Diaria.xlsx")

# Teste 3 - com TXT e dicas do Jhean

In [10]:
path =r'/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Prod Diaria txt'
filenames = glob.glob(path + "/*.txt")

In [15]:
Prod_Dia_df = pd.DataFrame({'Grupo':[], 'Id_Animal':[], 'Num_Lac':[], 'Dias_Lac':[], 'Pico':[], 'Hora_S1':[],
                            'Hora_S2':[], 'Hora_S3':[], 'Durac_S1':[], 'Durac_S2':[], 'Durac_S3':[],
                            'Prod_S1':[], 'Prod_S2':[], 'Prod_S3':[], 'Hora_S1_ont':[], 'Hora_S2_ont':[], 
                            'Hora_S3_ont':[], 'Dura_S1_ont':[], 'Dura_S2_ont':[], "Dura_S3_ont":[],
                            'Prod_S1_ont':[], 'Prod_S2_ont':[], 'Prod_S3_ont':[]})
for filename in filenames:
  a = pd.read_csv(filename, skiprows=1, skipfooter=1, sep='\t', encoding='latin1', engine='python',    
                  names=['Grupo', 'Id_Animal', 'Num_Lac', 'Dias_Lac', 'Pico', 'Hora_S1', 'Hora_S2', 'Hora_S3',
                         'Durac_S1', 'Durac_S2', 'Durac_S3', 'Prod_S1', 'Prod_S2', 'Prod_S3',
                         'Hora_S1_ont', 'Hora_S2_ont', 'Hora_S3_ont', 'Dura_S1_ont', 'Dura_S2_ont', "Dura_S3_ont",
                         'Prod_S1_ont', 'Prod_S2_ont', 'Prod_S3_ont'])
  Prod_Dia_df = pd.concat([Prod_Dia_df, a])
  Prod_Dia_df['Data'] = filename  # Ainda não está OK - está ficando o nome do último arquivo somente

In [17]:
Prod_Dia_df.head()

   Grupo  ...                                               Data
0    1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
1    1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
2    1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
3    1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
4    1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[5 rows x 24 columns]

In [24]:
Prod_Dia_df

    Grupo  ...                                               Data
0     1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
1     1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
2     1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
3     1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
4     1.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
..    ...  ...                                                ...
68    7.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
69    7.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
70    7.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
71    7.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...
72   72.0  ...  /content/drive/MyDrive/Colab Notebooks/MedMep ...

[10176 rows x 24 columns]

In [18]:
Prod_Dia_df.to_excel("/content/drive/MyDrive/Colab Notebooks/MedMep DataSet/Producao DIaria.xlsx")